.DivColor{
    background-color: blueviolet;
}

.titleHeader{
    height: 200px;
    background-color: #D9D9D9;
}

.container-fluid{
    display: flex;
    justify-content: f;
}

.space-ro{
    display: flex;
    justify-content: space-around;
}



.caro-size{
    width: 811.7px;
    height: 681px;
}

.textbox{
    width: 817px;
    height: 681px;
    background-color:#E2D0D0
    
}